@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%)
}

body {
  background-color: var(--very-light-gray);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid-container {
  max-width: 920px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 24px;
}

.card {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--very-light-gray);
  padding: 48px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card header h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  text-transform: uppercase;
}

.card p {
  color: var(--transparent-white);
  font-size: 15px;
  line-height: 25px;
}

.card footer {
  position: absolute;
  bottom: 48px;
}

.card footer a {
  display: inline-block;
  background-color: var(--very-light-gray);
  text-decoration: inherit;
  padding: 14px 28px;
  border-radius: 28px;
}

.card footer a:hover {
  background-color: transparent;
  color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.sedans footer a {
  color: var(--bright-orange);
}

.suvs footer a {
  color: var(--dark-cyan);
}

.luxury footer a {
  color: var(--very-dark-cyan);
}

@media screen and (max-width: 840px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 442px);
    min-width: 327px;
    margin: 88px 24px;
  }
}